name: HuskSync CI

on:
  push:
    branches: [ "main", "master" ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Java 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "21"

      - name: Print Java version
        run: java -version

      - name: Grant execute permission for Gradle
        run: chmod +x ./gradlew

      - name: Build full HuskSync
        run: ./gradlew clean build

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: husksync-jars
          path: |
            build/libs/*.jar
            target/*.jar
